@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Nunito Sans", serif;
}

body{
    background: #f5f5f5;
}

a{
    text-decoration:none;
    color:inherit;
    line-height:1;
    cursor:pointer;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 1024px) {
  .container {
    width: 95%;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 5px;
    width: 100%;
  }
}

/*
.btn{
    background:#fff;
    color:#212121;
    padding:14px 25px;
    font-size:16px;
    border-radius:30px;
    cursor :pointer;
    border:0;
    outline:0;
    display:inline-flex;
    align-items:center;
    justify-content:center;
}

.btn img{
    width:20px;
    margin-left:10px;
}
*/
.btn {
    background: #ff6600;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, transform 0.2s;
  }
  
  .btn img {
    width: 16px;
    margin-left: 10px;
    transition: transform 0.3s;
  }
  
  .btn:hover {
    background: #ff9900;
    transform: scale(1.05);
  }
  
  .btn:hover img {
    transform: translateX(5px);
  }
.btn.dark-btn{
    background : #ff9900;
    color: #fff;
}

.leaflet-container {
  width: 100%;
  height: 400px; /* Adjust height as needed */
  border-radius: 10px;
}

.contact-page-container{
  margin-top: 150px;

}


